<?xml version="1.0" encoding="utf-8"?>
<!--
This file is used by the publish/package process of your Web project. You can customize the behavior of this process
by editing this MSBuild file. In order to learn more about this please visit https://go.microsoft.com/fwlink/?LinkID=208121. 
-->
<Project ToolsVersion="4.0" xmlns="http://schemas.microsoft.com/developer/msbuild/2003">
  <PropertyGroup>
    <WebPublishMethod>ZipDeploy</WebPublishMethod>
    <IsLinux>true</IsLinux>
    <ResourceId>/subscriptions/8947f469-95d8-4228-8547-066a4d163ff8/resourceGroups/323Project2/providers/Microsoft.Web/sites/Pictoload</ResourceId>
    <ResourceGroup>323Project2</ResourceGroup>
    <LaunchSiteAfterPublish>True</LaunchSiteAfterPublish>
    <SiteUrlToLaunchAfterPublish>http://pictoload.azurewebsites.net</SiteUrlToLaunchAfterPublish>
    <PublishProvider>AzureWebSite</PublishProvider>
    <LastUsedBuildConfiguration>Release</LastUsedBuildConfiguration>
    <LastUsedPlatform>Any CPU</LastUsedPlatform>
    <ProjectGuid>6c88b916-95d4-40fa-b3fc-be568ee2fcc0</ProjectGuid>
    <PublishUrl>https://pictoload.scm.azurewebsites.net/</PublishUrl>
    <UserName>$Pictoload</UserName>
    <_SavePWD>True</_SavePWD>
  </PropertyGroup>
</Project>